{   
    "tradeValue": "0.01",
    "profit": "1.5",
    "interval": "1m",
    "symbols":[
       "BTCUSDT",
       "ETHUSDT",
       "SOLUSDT",
       "BNBUSDT"
    ],

    "strategy": {
        "name":"rsi_strategy",
        "smallerThan": 100,
        "period": 7,
        "interval": "1m"
    }
     
 }